@import url(https://fonts.google.com/specimen/Manrope);
body {
    margin: 0;
    padding: 0;
    background-color: hsl(217, 19%, 24%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container {
    padding: 10px;
    max-width: 500px;
    margin: auto;
    width: 100%;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	background-color: hsl(217, 19%, 38%);
	border-radius: 10px;
    font-family: manrope;
    font-weight: 800;
}
h4 {
	font-size: 15px;
	margin: 20px 0px 0px auto;
    color: hsl(150, 100%, 66%);
}
.quote {
    font-size: 20px;
    color: hsl(220, 15%, 55%);
}
.quote::before,
.quote::after {
    content: '"';
    font-size: 28px;
}
.quote::before {
    left: -10px;
}
.quote::after {
    right: -10px;
}
.text {
    text-align: center;
}
.attribution {
    margin-left: 5%;
}

.btn {
    justify-content: center;
    align-items: center;
    display: flex;
}
.popup {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: hsl(150, 100%, 66%);
    cursor: pointer;
    transition: .5s;
}